html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.navbar {
  .navbar-nav li a {
    line-height: 36px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #fff;
  }
  background: #181818;
  height: 61px;
      border-bottom: 1px solid #fff;
}

.navbar-brand {
  background: url(../img/newsweek-logo.png);
  background-repeat: no-repeat;
  width: 275px;
  height: 60px;
  background-size: 275px 60px;
}
