html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: #333; }

/*
  =======================
  Main Header
  =======================
*/
.navbar {
  background: #181818;
  height: 61px;
  border-bottom: 1px solid #fff;
  font-family: "Source sans pro", sans-serif;
  font-weight: bold;
  letter-spacing: 1px; }
  .navbar .navbar-nav li a {
    line-height: 36px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #fff; }
    .navbar .navbar-nav li a:hover {
      color: #fff;
      opacity: 0.4; }
    .navbar .navbar-nav li a:focus {
      color: #fff;
      opacity: 0.4; }
  .navbar .navbar-right li:last-child {
    height: 60px;
    border-bottom: 4px solid red; }

.navbar-brand {
  background: url(../img/newsweek-logo.png);
  background-repeat: no-repeat;
  width: 275px;
  height: 60px;
  background-size: 275px 60px; }

.headlines {
  position: relative;
  margin: 30px 0; }
  .headlines h3 {
    font: 21px/22px serif;
    letter-spacing: 0.25px;
    color: #FF0500;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative; }
  .headlines .bullet {
    font-family: "Source sans pro", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    list-style: none outside none;
    padding: 15px 15px 15px 19px;
    position: relative; }
  .headlines .bullet::before {
    content: "";
    display: block;
    position: absolute;
    top: 21px;
    left: 0px;
    background-color: #FF0500;
    width: 8px;
    height: 8px; }
  .headlines button {
    background-color: #E5E5E5;
    color: #757575;
    height: 50px;
    width: 100%;
    display: block;
    font-weight: 700;
    font-size: 16px;
    text-align: center; }

.container {
  width: 89%; }

img {
  max-width: 100%; }

.headline-main {
  font-family: "Source sans pro", sans-serif;
  font-weight: bold; }
  .headline-main h1 {
    font-weight: 700; }
  .headline-main h3 {
    font-size: 27px;
    line-height: 32px; }
  .headline-main p {
    font-weight: 600;
    font-size: 16px; }

.category a {
  font-family: "Source sans pro", sans-serif;
  font-size: 22px;
  color: red;
  text-transform: uppercase;
  font-weight: bold; }

.story-rows {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 15px; }

.story {
  font-family: "Source sans pro", sans-serif;
  font-weight: bold;
  margin-top: 5px; }
  .story a {
    font-size: 16px; }
  .story h3 {
    margin-top: 10px;
    font-size: 26px; }
  .story h4 {
    font-size: 18px; }
  .story p {
    font-size: 17px;
    font-weight: 400; }

/*
  =======================
  Media Queries
  =======================
*/
@media (max-width: 1213px) {
  .navbar-brand {
    background-repeat: no-repeat;
    background: url(../img/newsweek-letter.jpg);
    background-size: 60px 60px;
    height: 60px;
    width: 60px; } }
@media (max-width: 1028px) {
  .navbar .nav li a {
    color: #333;
    margin-left: -15px; }

  .collapse .navbar-right li:last-child {
    border-bottom: none; }

  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }
@media (max-width: 768px) {
  .navbar .nav li a {
    color: #333;
    margin-left: 0px; } }

/*# sourceMappingURL=main.css.map */
