.navbar {
  .navbar-nav li a {
    line-height: 36px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #fff;
  }
  background: #181818;
  height: 60px;
}

.navbar-brand {
  height: 60px;
  line-height: 36px;
  width: 275px;
  font-size: 3.3em;
  background: #FF0500;
  color: #fff !important;
  &.navbar-brand:hover {
    background: #ff0500;
  }
}
