html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.navbar {
  background: #181818;
  height: 61px;
  border-bottom: 1px solid #fff;

  .navbar-nav li a {
    line-height: 36px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #fff;
    &:hover {
      color: #fff;
      opacity: 0.4;
    }
    &:focus {
      color: #fff;
      opacity: 0.4;
    }
  }

  .navbar-right li:last-child {
    height: 60px;
    border-bottom: 4px solid red;
  }

}

.navbar-brand {
  background: url(../img/newsweek-logo.png);
  background-repeat: no-repeat;
  width: 275px;
  height: 60px;
  background-size: 275px 60px;
}
